<div class="container-xxl mx-auto">
  <%= simple_form_for @activity do |form| %>
    <%= form.input :name %>
    <div data-controller="select" data-select-url-value="<%= preferences_path %>">
      <%= form.input :category do %>
        <%= select_tag :category, options_for_select(Preference.categories), include_blank: true, class: "form-select select required", data: { action: "change->select#change" } %>
      <% end %>
      <%= form.association :preference, collection: [], label: false, input_html: { data: { select_target: "select" }} %>
    </div>
    <%= form.submit %>
  <% end %>
</div>